
.mainBody {
    background-color: #EFBC9B;
}

.fixedButton {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.roundedFixedBtn {
    height: 45px;
    line-height: 43px;
    width: 45px;
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    background-color: #9CAFAA;
    color: black;
    text-align: center;
    cursor: pointer;
    padding-bottom: 10px;
}